.printableHeader {
  margin: 10px 0px;
  background-color: rgb(206, 206, 206);
  height: 120px;
  width: 100%;
  overflow: hidden;
}
.printableHeader img {
  background-color: white;
  width: 100%;
}
