#verify-payslip{
    /* margin:20px; */
}
#verify-payslip .payslip-div table,.payslip-div tr,.payslip-div td,.payslip-div th,.payslip-div tfoot{
    border-style: solid;
    border-width: thin;
    padding:5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
#verify-payslip .payslip-div .footer{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: red;
}
#verify-payslip .payslip-div  table{
    width: 100%;
}

@media print {
    #pagebreak { page-break-before: always; } /* page-break-after works, as well */
}