#view-payslip{
    margin:20px;
}
#view-payslip .payslip-div table,.payslip-div tr,.payslip-div td,.payslip-div th,.payslip-div tfoot{
    border-style: solid;
    border-width: thin;
    padding:5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
#view-payslip .payslip-div  table{
    width: 100%;
}