.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-column-flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.flex-row-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.flex-row-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.flex-item-start {
  align-items: flex-start;
}

.darkmodeTransition {
  transition: all .3s;
}

.fontLato {
  font-family: Lato, Helvetica, sans-serif;
}

.head_primary {
  background-color: blue;
}

.employee-card {
  cursor: pointer;
}

.employee-card:hover .employee-card-view {
  opacity: 1;
}

.employee-card-view {
  opacity: 0;
  transition: all .2s;
}

.pulsive-button {
  color: #fff;
  animation: pulses .7s infinite alternate ease-in-out;
}

.faded-grey {
  color: #5a5a5a;
}

.skeleton-colors {
  background-color: #52c7b8;
}

.cgb-color-text-dblue {
  color: #0972a9;
}

.cgb-color-bg-dblue {
  background-color: #0972a9;
}

.cgb-color-text-green {
  color: #65a618;
}

.cgb-color-bg-green {
  background-color: #65a618;
}

.cgb-color-text-yellow {
  color: #d8e128;
}

.cgb-color-bg-yellow {
  background-color: #d8e128;
}

.cgb-color-text-blue {
  color: #059fd6;
}

.cgb-color-bg-blue {
  background-color: #059fd6;
}

.cgb-color-table {
  background-color: #4f83cc !important;
}

.cgb-color-table-lightblue {
  background-color: #4f83cc !important;
  color: #fff !important;
}

.personal-information-employment-status-table tr td {
  font-size: 12px !important;
}

.table-font-size {
  color: #fff;
  font-size: .7rem !important;
}

.side-add-button {
  display: flex;
  justify-content: flex-end;
}

.pds-fontsize-long-text {
  font-size: 9px !important;
}

.pds-fontsize-long-text2 {
  font-size: 7px !important;
}
.pds-fontsize-long-text3 {
  font-size: 5px !important;
}



.pds-print-no-pl-m {
  margin: 0 !important;
  padding: 0 !important;
  word-wrap: break-word !important;
  line-height: 1.1 !important;
}

.pds-print-pl {
  padding-left: 2px !important;
}

.pds-fontsize-10px {
  font-size: 10px !important;
}

.pds-fontsize-12px {
  font-size: 12px !important;
} 

.pds-fontsize-8px {
  font-size: 8px !important;
}

.pds-fontsize-6px {
  font-size: 6px !important;
}

.pds-table-row-height {
  height: 28px;
}

/* testing priting pds */


/* testing printing pds */



.modal-tag {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff !important;
  border: 0 !important;
  margin-top: -2rem !important;
  padding: 1rem;
  padding-top: .5rem !important;
  border-radius: 1rem !important;
  border-bottom-left-radius: 0 !important;
  display: flex !important;
  align-items: flex-start !important;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightblue;
}

.pds-print-wrapper {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 28px;
  position: relative;
}

.pds-break-margin-top {
  margin-top: 28px;
}

/* testing */
.table-header-group-print {
  border: 1px solid black;
}

tbody td .table-header-group-print {
  border: 1px solid black;
  border-spacing: 0 !important;
}
.pds-print-wrapper{
  counter-reset: page;
}
/* @media print{ */
  #content {
    display: table;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    font-style: italic;
  }

  #pageFooter {
      display: table-footer-group;
  }
  #pageFooter:after{
      counter-increment: page;
      content: "CS FORM 212 (Revised 2017), Page " counter(page) " of ";
  }
  /* @page {
    @bottom-right {
      content: counter(page) " of " counter(pages);
    }
  } */
  /* @page:right{
    @bottom-right {
      content: counter(page);
    }
  }

  @page:left{
    @bottom-left {
      content: counter(page);
    }
  } */
/* } */

@media print {

  /* .pds-all tr {
    page-break-after: avoid;
    page-break-before: avoid;
  } */

  .empty-footer {
    height: 20px;
  }

  .table-header-group-print {
    display: table-header-group !important;
  }

  .force-break {
    page-break-after: always;
    page-break-before: always;
  }

  .force-break-after {
    page-break-after: always;
  }

  .force-break-before {
    page-break-before: always;
  }

  .force-break-before:last-child .page-footer {
    display: none;
  }


  .page-footer {
    position: fixed !important;
    bottom: 150px !important;
    width: 100% !important;
    height: auto !important;
    display: table-footer-group;
  }


  .page-footer:after {
    counter-increment: page;
    content:"CS FORM 212 (Revised 2017), Page " " of";
    font-size: 9px;
    position: absolute;
    bottom: -20px;
    right: 50px;
  }

  .plantilla-pdf-page-break thead {
    page-break-before: always !important;
  }

/* 
  @page {
    counter-increment: page;
    counter-reset: page 1;

    @top-right {
      content: "Page " counter(page) " of " counter(pages);
    }
  }

  @page {
    @bottom-right {
      content: "Please turn over";
    }
  }

  @page last_page {
    @bottom-right {
      content: none;
    }
  } */


  /* .pds-table-print {
    width: 100%;
  } */

  /* .bordered-table tr>td {
    border: 1px solid black !important;
  } */

  .print-landscape {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}


/* testing */


@keyframes pulses {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1.3);
  }
}

.reloader-icons {
  color: #4f83cc;
  cursor: pointer;
  transition: all .2s;
}

.pending-updates-btn {
  border-radius: 2rem !important;
  margin-right: 2rem !important;
}

.pending-updates-icon {
  color: '#fff'
}

.add-record-btn {
  border-radius: 2rem !important;
}

.reloader-icons:hover {
  color: #29599c;
  animation: rotatorr 1.5s infinite ease-in-out;
}

.btn-reloader-active {
  animation: rotatorr 1s infinite linear;
}


@keyframes rotatorr {
  from {
    transform: rotate(0DEG);
  }

  to {
    transform: rotate(360DEG);
  }
}

/* pds confirm updates */

.pds-update-text-color {
  color: #fff;
  font-size: .7rem !important;
}

.resend-btn {
  /* color:#1976d2; */
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #1976d2;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin: .3125em;
  padding: .625em 1.1em;
  transition: box-shadow .1s;
  box-shadow: 0 0 0 3px transparent;
  font-weight: 500;
}

.resend-btn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.resend-btn {
  /* color:#1976d2; */
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #1976d2;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin: .3125em;
  padding: .625em 1.1em;
  transition: box-shadow .1s;
  box-shadow: 0 0 0 3px transparent;
  font-weight: 500;
}

.resend-btn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.resend-btn-disabled {
  /* color:#1976d2; */
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #1976d2;
  color: #fff;
  font-size: 1em;
  cursor: not-allowed;
  margin: .3125em;
  padding: .625em 1.1em;
  transition: box-shadow .1s;
  box-shadow: 0 0 0 3px transparent;
  font-weight: 500;
}

.resend-btn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.swal2-container {
  z-index: 1400 !important;
}

.table-updates-view-files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1
}

.pds-update-noupdate {
  background-color: #BEBEBE !important;
  border-radius: .5rem;
}

.pds-update-old {
  border: 1px solid red;
  padding: .5rem;
  color: red;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  text-align: center;
}

.pds-update-new {
  border: 1px solid blue;
  border-top: none;
  padding: .5rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  color: blue;
  text-align: center;
}

.pds-update-btn {
  margin-top: .5rem !important;
  padding: .5rem !important;
  border-radius: .5rem !important;
  font-size: 8px !important;
}

.pds-update-table-row {
  background: #ff9800;
  color: #fff !important;
}
.pds-update-table-row-color {
  color: #fff !important;
}

/* job posting plantilla */
.plantilla-pdf-table {
  font-size: 12px !important;
}

.plantillaPdfTable,
.plantillaPdfTable table,
.plantillaPdfTable th,
.plantillaPdfTable tr,
.plantillaPdfTable td {
  border: 1px solid black !important;
  padding: 5px !important;
}

/* job posting mpr */
.job-posting-mpr {
  animation-duration: .3s !important;
  /* don't forget to set a duration! */
}

/* applicants dashboard */
.appointed {
  --animate-duration: 1.2s !important;
}

/* typography */
.text-old-english {
  font-family: 'Old English Five', sans-serif !important;
}

.text-serif {
  font-family: serif !important;
}

.bordered-table-reference {
  width: 100%;
}

.bordered-table-reference tr td {
  border: 1px solid black !important;
  border-collapse: collapse !important;
}

.recruitment-print-table-tr {
  border: 1px solid black !important;
  border-collapse: collapse !important;
  border-spacing: 0;
}

.recruitment-print-table-td {
  border: 1px solid black !important;
  border-collapse: collapse !important;
  border-spacing: 0;
  padding: 5px !important;
  margin: 0 !important;
}


.recruitment-print-table-title {
  font-size: 8px !important;
  line-height: 1 !important;
}

.recruitment-print-table-title-form9 {
  font-size: 12px !important;
  line-height: 1 !important;
}

.recruitment-print-table-sub {
  font-size: 8px !important;
}

.custom-iconbutton {
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.transferApplicantToEmployeeArrow svg:nth-child(1) {
  animation: transfer_arrow infinite 1s;
}

.transferApplicantToEmployeeArrow svg:nth-child(2) {
  animation: transfer_arrow infinite 1s 2s;
}

.transferApplicantToEmployeeArrow svg:nth-child(3) {
  animation: transfer_arrow infinite 1s .2s;
}

@keyframes transfer_arrow {
  from {
    margin-left: 0;
  }

  to {
    color: #fff;
    margin-left: 10px;
  }
}

@media screen and (max-width:600px) {
  @keyframes transfer_arrow {
    from {
      margin-left: 0;
    }

    to {
      color: #fff;
      margin-left: 1px;
    }
  }
}

.custom-roundbutton {
  border-radius: 20px !important;
  box-shadow: 5px 5px 5px #eee !important;
  /* box-shadow: 5px 5px 5px #eee !important; */
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%) !important;
}
.custom-boxshadow{
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%) !important;
}
.custom-boxshadow-header{
  background:linear-gradient(90deg, rgba(0,135,86,1) 16%, rgba(0,163,210,1) 88%);
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%) !important;

}
.custom-boxshadow-header2{
  background:#008756;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%) !important;

}
.responsive-custom-boxshadow{
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%) !important;
}
@media only screen and (max-width: 320px) {
  .responsive-custom-boxshadow{
    border-radius: 20px !important;
  }
}

/* pds evaluation */
.pds-evaluate-profile:hover {
  background-color: #BEBEBE;
  cursor: pointer;
}

.pds-evaluate-profile-nofile:hover {
  background-color: red;
  cursor: pointer;
}

#custom-header {
  margin: 0 20px 20px 20px;
}

#custom-header .custom-header-text {
  border-bottom: dotted 4px #c4c4c4;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #727272;
}